html,body {
  font-family: 'Rubik', sans-serif;}
.hero.is-info {
  background-color: #FEE140;
background-image: linear-gradient(40deg, #FEE140 0%, #FA709A 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
